.leaflet-container {
  width: 95%;
  height: 80vh;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 3%;
  border: 3px solid var(--color-primary-variant);
}

.mapContainer .map_buttons {
  position: absolute;
}

.map_buttons {
  z-index: 1000000; /* necessary */
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  left: 0.5rem;
  bottom: 3rem;
}
