.hotel_container {
  display: grid;

  gap: 3rem;
}

.hotel {
  background-image: url("../static/images/hotel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

.hotel:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../static/images/hotel.jpg");
  border-color: var(--color-primary-variant);
  cursor: default;
}

/* will be a picture but temporarily make it slightly pretty  */
.hotel_head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.hotel_head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.service_list {
  padding: 2rem;
}

.service_list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.service_list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.service_list p {
  font-size: 0.9rem;
}

.book {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .hotel_container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .hotel {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .hotel_container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
