.leaflet-container {
  width: 100%;
  height: 100%;
}
/* 
.mapContainer .map_buttons {
} */

.map_buttons {
  position: absolute;
  z-index: 998; /* necessary */
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  left: 0.5rem;
  bottom: 6rem;
}

.selected {
  background-color: aliceblue;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

#map-container {
  height: 100vh;
}