.login-picture {
  display: flex;
  flex-direction: column;
  gap: 32px
}

.login_container {
  text-align: center;
}
.login_title {
  margin-top: 3rem;
}
.login {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.or {
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  padding: 10px;
  color: var(--color-primary);
  font-weight: bold;
  z-index: 1;
  background-color: var(--color-bg);
}

.line {
  width: 0.5px;
  height: 70%;
  background-color: var(--color-primary-variant);
  position: absolute;
  margin: auto;
  z-index: -1;
}

.login_input {
  width: 15rem;
  margin-left: 2rem;
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
}

.loginButton {
  margin-right: 4.2rem;
}

.submit {
  margin-left: 1.5rem;
}
